
//Index page


.column.is-12, .column.is-12-tablet {
  @media screen and (min-width: 769px){
    flex: none;
    width: 16%;
    position: fixed;
    left: 0;
  }
  @media screen and (max-width: 768px){
    position: fixed;
  }
}

//Show page

.show-column-right{
  margin: 5% 0 0 0;
}

.show-description{
  margin: 5% 0 0 0;
}

.show-buttons{
  margin: 2% 0 0 0;
  .button{
    margin: 0 10px;
  }
}

.card-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.section {
    padding: 1rem 1rem;
}

@media screen and (min-width: 1088px){
  .container {
      max-width: 1125px;
      width: 1125px;
  }
}

.bold{
  font-weight: bold;
  margin: 5px 0;
}

.hero-image{
  @extend .card-image;
  width: 90%;
}
.subtitle span{
  font-weight: bold;
}

.error{
  color: #9A150E;
}

.parts-info{
  display: flex;
  align-items: flex-start;
  img{
    align-self: center;
  }
  p{
    position: absolute;
    right: 90%;
    width: 200px;
    @media(max-width: 640px) and (min-width: 348px){
      left: 0%;
      bottom: 20%;
    }
    @media(max-width: 347px){
      left: -30%;
      bottom: 30%;
    }
  }
}
